<article id="node-{{ node.id }}" class="{{ attributes.class }} article-node "{{ attributes }}>
  <div class="packages-wrapper container">
    <h2>{{ content.field_packages_title }}</h2>
    <div class="row">
      <div class="col-md-8">
          {{ content.field_packages_intro }}
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 three package">
        <span class="length">{{ content.field_packages['#items'].0.entity.field_package_length.value }}</span>
        <div class="package-details 1-cta">
          <span class="price">£{{ content.field_packages['#items'].0.entity.field_package_price.value }}</span>
          <span class="intro">{{ content.field_packages['#items'].0.entity.field_package_intro_text.value }}</span>
          <span class="saving">{{ content.field_packages['#items'].0.entity.field_package_saving.value | raw }}</span>
        </div>
      </div>
      <div class="col-md-4 six package">
        <span class="length">{{ content.field_packages['#items'].1.entity.field_package_length.value }}</span>
        <div class="package-details 2-cta">
          <span class="price">£{{ content.field_packages['#items'].1.entity.field_package_price.value }}</span>
          <span class="intro">{{ content.field_packages['#items'].1.entity.field_package_intro_text.value }}</span>
          <span class="saving">{{ content.field_packages['#items'].1.entity.field_package_saving.value | raw }}</span>
        </div>
      </div>
      <div class="col-md-4 twelve package">
        <span class="length">{{ content.field_packages['#items'].2.entity.field_package_length.value }}</span>
        <div class="package-details 3-cta">
          <span class="price">£{{ content.field_packages['#items'].2.entity.field_package_price.value }}</span>
          <span class="intro">{{ content.field_packages['#items'].2.entity.field_package_intro_text.value }}</span>
          <span class="saving">{{ content.field_packages['#items'].2.entity.field_package_saving.value | raw}}</span>
        </div>
        <span class="image"></span>
      </div>
    </div>
  </div>
  <div class="benefits-hero-wrapper">
    <div class="gradient-horizontal angle--both-left-left"></div>
    <div class="benefits-wrapper">
      <div class="gradient-white angle--both-left-right"></div>
      <div class="container">
        <span class="img wanderer-extra-bits-img"></span>
        <h2>{{ content.field_benefits_title }}</h2>
        <div class="row">
          <div class="col-md-4">
            <span class="img wanderer-img"></span>
          </div>
          <div class="col-md-8">
            <div class="row">
              {% for item in content.field_benefits['#items'] %}
                <div class="col-md-3">
                  <p class="title">{{ item.entity.field_group_title.value | raw }}</p>
                </div>
                <div class="col-md-9">
                    {{ item.entity.field_group_text.value | raw }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-wrapper">
      <div class="gradient-no-back hero-image angle--both-left-left" style="background: url({{ file_url(content.field_deal_image['#items'].0.entity.uri.value) }});background-repeat: no-repeat; background-position: center; background-size: cover;background-color: #02a5ff;"></div>
      <div class="container">
        <h2>{{ content.field_hero_title }}</h2>
        <div class="row">
          {% for package in content.field_packages['#items'] %}
            <div class="col-md-12">
              <span class="btn--block btn-yellow {{ loop.index }}-cta" title="">£{{ package.entity.field_package_price.value }} / {{ package.entity.field_package_length.value }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="conclude-wrapper">
    <h2>{{ content.field_conclude_title }}</h2>
    <div class="container">
      <div class="row">
        {% for contentText in content.field_conclude_te['#items'] %}
          <div class="col-md-6"><p>{{ contentText.value }}</p></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="stripe-forms">
    <form id="quarterly" action="/plan/quarterly" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
        data-image="/themes/custom/wfc_boot/images/stripe_market_pic.png"
        data-name="Wanderers' Flights Club"
        data-description="Premium subscribe: 3 months"
        data-amount="1000"
        data-locale="auto"
        data-currency="gbp"
        data-label="Subscribe!"
        data-allow-remember-me="false">
      </script>
    </form>
    <form id="semiannual" action="/plan/semiannual" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
        data-image="/themes/custom/wfc_boot/images/stripe_market_pic.png"
        data-name="Wanderers' Flights Club"
        data-description="Premium subscribe: 6 months"
        data-amount="2000"
        data-locale="auto"
        data-currency="gbp"
        data-label="Subscribe!"
        data-allow-remember-me="false">
      </script>
    </form>
    <form id="annual" action="/plan/annual" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
        data-image="/themes/custom/wfc_boot/images/stripe_market_pic.png"
        data-name="Wanderers' Flights Club"
        data-description="Premium subscribe: 12 months"
        data-amount="3000"
        data-locale="auto"
        data-currency="gbp"
        data-label="Subscribe!"
        data-allow-remember-me="false">
      </script>
    </form>
  </div>
</article>
