<article id="node-{{ node.id }}" class="{{ attributes.class }} article-node "{{ attributes }}>
  <div class="packages-wrapper container">
    <h2>{{ content.field_packages_title }}</h2>
    <div class="row">
      <div class="col-md-8">
          {{ content.field_packages_intro }}
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 three">
        <span class="length">{{ content.field_packages['#items'].0.entity.field_package_length.value }}</span>
        <div class="package-details">
          <span class="price">£{{ content.field_packages['#items'].0.entity.field_package_price.value }}</span>
          <span class="intro">{{ content.field_packages['#items'].0.entity.field_package_intro_text.value }}</span>
          <span class="saving">{{ content.field_packages['#items'].0.entity.field_package_saving.value | raw }}</span>
        </div>
      </div>
      <div class="col-md-4 six">
        <span class="length">{{ content.field_packages['#items'].1.entity.field_package_length.value }}</span>
        <div class="package-details">
          <span class="price">£{{ content.field_packages['#items'].1.entity.field_package_price.value }}</span>
          <span class="intro">{{ content.field_packages['#items'].1.entity.field_package_intro_text.value }}</span>
          <span class="saving">{{ content.field_packages['#items'].1.entity.field_package_saving.value | raw }}</span>
        </div>
      </div>
      <div class="col-md-4 twelve">
        <span class="length">{{ content.field_packages['#items'].2.entity.field_package_length.value }}</span>
        <div class="package-details">
          <span class="price">£{{ content.field_packages['#items'].2.entity.field_package_price.value }}</span>
          <span class="intro">{{ content.field_packages['#items'].2.entity.field_package_intro_text.value }}</span>
          <span class="saving">{{ content.field_packages['#items'].2.entity.field_package_saving.value | raw}}</span>
        </div>
        <span class="image"></span>
      </div>
    </div>
  </div>
  <div class="benefits-hero-wrapper">
    <div class="gradient angle--both-right-right"></div>

    <div class="benefits-wrapper">
      <div class="gradient-white angle--both-right-left"></div>
      <div class="container">
        <span class="img wanderer-extra-bits-img"></span>
        <h2>{{ content.field_benefits_title }}</h2>
        <div class="row">
          <div class="col-md-4">
            <span class="img wanderer-img"></span>
          </div>
          <div class="col-md-8">
            <div class="row">
              {% for item in content.field_benefits['#items'] %}
                <div class="col-md-3">
                  <p>{{ item.entity.field_group_title.value | raw }}</p>
                </div>
                <div class="col-md-9">
                    {{ item.entity.field_group_text.value | raw }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-wrapper">
      <div class="gradient-no-back hero-image angle--both-right-left" style="background: url({{ content.field_hero_image }});background-repeat: no-repeat; background-position: center; background-size: cover;background-color: #02a5ff;"></div>
      <div class="container">
        <h2>{{ content.field_hero_title }}</h2>
        <div class="row">
          {% for package in content.field_packages['#items'] %}
            <div class="col-md-12">
              <a href="/wanderer" class="btn--block" title="">£{{ package.entity.field_package_price.value }} / {{ package.entity.field_package_length.value }}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="conclude-wrapper">
    <h2>{{ content.field_conclude_title }}</h2>
    <div class="row">
      {% for contentText in content.field_conclude_te['#items'] %}
        <div class="col-md-6">{{ contentText.value }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="footer-content-wrapper">
      <h2>{{ content.field_payment['#items'].entity.field_group_title.value }}</h2>
      {{ content.field_payment['#items'].entity.field_group_text.value | raw }}
  </div>
</article>
